numpy
torch
tensorflow
keras
keras-tuner
scikit-learn
matplotlib
datasets

# Natural Language Processing
deep-translator
langdetect
spacy
contractions
nltk
pyspellchecker

# Spell Checking
spellchecker

# Optimization
optuna
